@layout('template')

@section('content')
  <main>
    <section class="info">
      <span>Username:</span>
      <span>{{auth.user.username}}</span>
      <span>Email:</span>
      <span>{{auth.user.email}}</span>
    </section>
    <section class="actions">
      <a href="/produto/novo" class="edit">Novo Produto</a>
      <!-- <a href="#">Editar Perfil</a>
      <a href="">Preview</a> -->
    </section>

  </main>


@endsection
